body {
    background-color: rgba(61, 35, 6, 0.778);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.note {
    margin: 100px auto;
    width: 1400px;
    height: 1000px;
    background-image: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
.note {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.list {
    width: 500px;
    height: 100%;
    margin-top: 95px;
}
.list_header {
    font-size: 40px;
    color: red;
    margin-bottom: 25px;
    font-weight: bold;
    margin-left: 50px;
    
 
}
label {
    font-size: 30px;
    margin: 20px;
}
.text {
    width: 400px;
    height: 40px;
    font-size: 30px;
    border: none;
    outline: none;
    background:inherit;
    margin-left: 70px;
}
.text:focus {
    border: none;
}
.button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    margin-left: 220px;
    background-color:rgba(61, 35, 6);
    color:beige;
    font-size: 27px;
    cursor:pointer;
}
.button:hover {
    border: 5px solid grey;
}

.modal1, .modal2 {
    display: none;
    position: absolute;
    top: 350px;
    font-size: 20px;
    padding: 20px;
    width: 1000px;
    height: 100px;
    border-radius: 10px;
    background-color:lightpink;
}
.modal_close {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 22px;
    position: absolute;
    top: 10px;
    right: 20px;
}